menu "ARM architecture"
	depends on ARM

config SYS_ARCH
	default "arm"

config HAS_VBAR
	bool

config HAS_THUMB2
	bool

# Used for compatibility with asm files copied from the kernel
config ARM_ASM_UNIFIED
	bool
	default y

# Used for compatibility with asm files copied from the kernel
config THUMB2_KERNEL
	bool

config CPU_V7M
	bool
	select HAS_THUMB2
	select THUMB2_KERNEL
	select SYS_CACHE_SHIFT_5

config SYS_CPU
	default "armv7m" if CPU_V7M

config SYS_ARM_ARCH
	int
	default 7 if CPU_V7M

config SYS_CACHE_SHIFT_5
	bool

config SYS_CACHE_SHIFT_6
	bool

config SYS_CACHE_SHIFT_7
	bool

config SYS_CACHELINE_SIZE
	int
	default 128 if SYS_CACHE_SHIFT_7
	default 64 if SYS_CACHE_SHIFT_6
	default 32 if SYS_CACHE_SHIFT_5

config SEMIHOSTING
	bool "support boot from semihosting"
	help
	  In emulated environments, semihosting is a way for
	  the hosted environment to call out to the emulator to
	  retrieve files from the host machine.

choice
	prompt "Target select"
	default TARGET_TIVA 

config TARGET_TIVA
	bool "Support TI TM4C1294NCPDT"

endchoice

source "arch/arm/mach-tiva/Kconfig"

source "arch/arm/cpu/armv7m/Kconfig"

source "board/tiva/Kconfig"

endmenu
