# RosX kernel configuration

menu "Enable/Disable Kernel services -->"
#File tune parameters of the kernel to get the smallest footprint 
config SEMAPHORE
	bool
	prompt "Semaphore" 
	default y
	help
	Enable or disable kernel service

config MUTEX
	bool
	prompt "Mutex"
        default y
        help
        Enable or disable kernel service

config QUEUE
	bool
	prompt "Queue"
        default y
        help
        Enable or disable kernel service

config WAIT_QUEUE
	bool
	prompt "Wait/wake Queue"
        default y
        help
        Enable or disable kernel service

config EVENTS
	bool
	prompt "Events"
        depends on TIMERS
        default y
        help
        Enable or disable kernel service

config SYS_EVENT_STACK_SIZE
        int
        prompt "Timer thread default stack size"
        depends on TIMERS
        default 512
        help
        Maximum size of stack available for timer thread.

config TIMERS
	bool
	prompt "Kernel Timers"
	default y
	help
	Enable or disable kernel service

config TIMER_SYS_TIMER_STACK_SIZE
        int
        prompt "Timer thread default stack size"
        depends on TIMERS
        default 512
        help
        Maximum size of stack available for timer thread.

config SYS_BH
	bool
	prompt "Interrupt Tasklet/bottom-half"
        default y
        help
        Select Y if you need Tasklet/Bottom-half for interrupts.

config SYS_BH_STACK_SIZE
	int
	prompt "Interrupt Tasklet/bottom-half stack size"
        depends on SYS_BH
        default 512
        help
        Tasklet/Bottom-half stack size.

menu "RosX Kernel setup"

config MAX_TASK
	int
	prompt "maximum number of tasks"
	default 8
	help
	Maximum tasks supposed to be created. RosX Kernal does not limit it. It is limited by the resource available

config TASK_STR_LEN
	int
	prompt "Max length of task name"
	default 8
	help
	Maximum tasks supposed to be created. Must be 4 byte aligned.

config TIME_SLICE
        bool
	prompt "Task time slice"
	default n
	help
	If you want to support time-slice for task say Y.

config STACK_ALLOC_DYNAMIC
	bool
	prompt "Task dynamic allocation of stack"
	default n
	help
	If you want to allocated task stack size dynamically select as 'Y', you must provide the stack start and size.
	
config SYSTEM_STACK_SIZE
	int 
	prompt "System stack size"
	depends on STACK_ALLOC_DYNAMIC
	default 0
	help
	System stack size(4-byte aligned).Provide system stack size to manage dynamic allocation of stack while thread creation

config ISR_STACK_SIZE
	int
	prompt "ISRstack size"
	default 2048
	help
	ISR stack size	

config  HZ
	int
	prompt "Timer tick frequency"
	default 100
	help
	define timer tick frequency
endmenu

endmenu
